#shaver-container-div {
  width: 400px;
  min-height: 600px;
  height: auto;
  margin: auto;
}

.shaver-img {
  height: 150px;
  width: 150px;
  margin-top: 16px;
  background-repeat: no-repeat;

  border-radius: 10px;
  background-size: 150px;
}

.shaver-img:hover {
  height: 160px;
  width: 160px;
  background-size: 160px;
  transition: 0.3s;
  cursor: pointer;
}

.shaver-image-data-div {
  display: flex;
}

.shaver-data-div {
  height: 150px;
  width: 220px;
  background-color: #fff;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 10px;
}

.shaver-data-div p {
  font-family: Roboto;
  font-size: 16px;
  padding: 8px;
  color: #1f252f;
}

/* 360px */
@media only screen and (max-width: 360px) {
  .shaver-img {
    height: 120px;
    width: 120px;
    margin-left: 16px;
    background-size: 120px;
  }

  .shaver-data-div {
    height: 120px;
    width: 190px;
  }
}
