/* possible color palettes black:#1f252f, blue: #5da0ee */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #262626; */
  /* background-color: #f7f7f7; */
  background-color: #1f252f;
}

#nav {
  display: flex;
  height: 75px;
  width: 100%;
  /* border-bottom: 3px solid #414141; */
  border-bottom: 3px solid #5da0ee;
}

#nav-title {
  margin-top: 30px;
  margin-left: 38%;
}

#nav-title h3 {
  font-family: Roboto;
  font-size: 24px;
  color: #fff;
  /* color: #414141; */
}

.title-span {
  /* color: #ffb600; */
  color: #5da0ee;
  /* color: #2b72cc; */
}

#menu-icon {
  position: absolute;
  top: 28px;
  right: 30px;
  cursor: pointer;
}

.menu-bar-top {
  width: 35px;
  height: 3px;
  background-color: #5da0ee;
  /* background-color: #ffb600; */
  /* background-color: #414141; */
  margin-bottom: 6px;
}

.menu-bar-middle,
.menu-bar-bottom {
  width: 35px;
  height: 3px;
  background-color: #5da0ee;
  /* background-color: #ffb600; */
  /* background-color: #414141; */
  margin-top: 6px;
}

#feature-nav-div {
  height: 75px;
  width: 100%;
  /* border-bottom: 3px solid #ffb600; */
  /* border-bottom: 3px solid #414141; */
  border-bottom: 3px solid #5da0ee;
}

#feature-nav-img {
  width: 30px;
}

.nav-feature-img-div {
  margin-top: 30px;
  margin-left: 16px;
}

.nav-feature-text-div {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  color: #5da0ee;
  /* color: #ffb600; */
  /* color: #2b72cc; */
  /* color: #262626; */
  margin-top: 30px;
  margin-left: 90px;
  cursor: pointer;
}

/* nav-feature-text-div span*/

.nav-home-icon-div {
  position: absolute;
  top: 28px;
  right: 23px;
  cursor: pointer;
}

.nav-home-icon-element {
  width: 30px;
}

/* Card style */
#card-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
}

.card-wrapper img {
  width: 30px;
}

.card-wrapper {
  font-family: Roboto;
  font-weight: 100;
  font-size: 13px;
  color: #fff;
  /* color: #414141; */
  margin-top: 55px;
  text-align: center;
}

.card-wrapper img {
  cursor: pointer;
}

.text-container p {
  padding: 2px 16px;
  margin-top: 6px;
}

/* Feature Page */

#msa-feature-div {
  width: 100%;
}

.msa-title-div {
  margin-top: 30px;
  margin-left: 16px;
}

.msa-title-div p {
  padding-bottom: 12px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  /* color: #414141; */
}

.camera-ul {
  list-style-type: none;
}

.camera-li-arrow-div {
  display: flex;
}

.camera-div {
  width: 93%;
  /* border-bottom: 1px solid #ffb600; */
  /* border-bottom: 1px solid #b2b4ae; */
  border-bottom: 1px solid #5da0ee;
  cursor: pointer;
}

.camera-div-settings {
  width: 93%;
  cursor: pointer;
}

.camera-div-settings li {
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  /* color: #414141; */
}

.camera-div li {
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  /* color: #414141; */
}

.arrow-icon-div {
  position: absolute;
  margin-top: 30px;
  margin-left: 87%;
}

.arrow-icon-div .arrow-img::after {
  content: " ";
  position: absolute;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: transparent url("../img/arrow.svg") 0% 0% no-repeat padding-box;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  background-size: 30px;

  transition: all 0.4s ease-out;
}

.arrow-icon-div.open .arrow-img::after {
  transform: translateY(-50%) rotate(-180deg);
}

.displays-div {
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.3s ease-in;
}

.displays-show {
  max-height: 1000px;
  transition: all 0.3s ease-out;
  margin-top: 18px;
}

.display-title {
  padding-bottom: 16px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  /* color: #414141; */
}
.displays-ul {
  list-style-type: none;
}

.display-wrapper {
  margin-left: 18px;
}

.display-div {
  width: 90%;
  height: 30px;
  /* background: #ffb600; */
  /* background: #eaeaea; */
  /* background: #1f252f; */
  background: #5da0ee;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.display-div-button-color {
  width: 90%;
  height: 30px;
  background: #f1f1f1;
  /* background: #ffb600; */
  /* background: #5da0ee; */

  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.display-div-button-color li {
  margin-top: 18px;
  padding-top: 8px;
  padding-left: 12px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  /* color: #262626; */
  /* color: #fff; */
  color: #1f252f;
}

.display-div:hover {
  /* background: #f1f1f1f1; */
  /* background: #ffb600; */
  /* background: #1f252f; */
  background: #f1f1f1;
  font-weight: 400;
}

.display-div li {
  margin-top: 18px;
  padding-top: 8px;
  padding-left: 12px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  /* color: #262626; */
  color: #fff;
}

.specialties-div {
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.3s ease-in;
}

.specialties-show {
  max-height: 1000px;
  margin-top: 18px;
  margin-left: 28px;
  transition: all 0.3s ease-out;
}

.specialties-show .specialty-title-tag {
  padding-bottom: 16px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  /* color: #414141; */
}

.specialties-show ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.specialty-div {
  width: 40%;
  margin: 12px 35px 3px 0px;
  height: 28px;
  /* background: #ffb600; */
  /* background: #eaeaeaea; */
  /* background-color: #1f252f; */
  background-color: #5da0ee;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.specialty-div-button-color {
  width: 40%;
  margin: 12px 35px 3px 0px;
  height: 28px;
  /* background: #f1f1f1f1; */
  /* background: #eaeaeaea; */
  background: #5da0ee;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.specialty-div-button-color li {
  padding: 6px 12px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  /* color: #262626; */
  color: #fff;
}

.specialty-div li {
  padding: 6px 12px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  /* color: #262626; */
  color: #fff;
}

.specialty-div:hover {
  /* background: #f1f1f1f1; */
  /* background: #ffb600; */
  background: #5da0ee;
  font-weight: 400;
}

/* ###############################################################
                         Settings 
##################################################################*/

.settings-show {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.camera-specialty-title-div {
  display: flex;
  /* background-color: #eaeef2; */
  background-color: #d2d3d5;
}

.camera-title-div {
  height: 100px;
  width: 100px;
  margin-left: 32px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.camera-tag {
  margin-bottom: 6px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  color: #1f252f;
  /* color: #414141; */
}

.camera-name-tag {
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
  color: #1f252f;
  /* color: #414141; */
}

.specialty-tag {
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  color: #1f252f;
  /* color: #414141; */
}

.specialty-name-tag {
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
  color: #1f252f;
  /* color: #414141; */
}

.specialty-title-div {
  margin-left: 110px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.specialty-tag {
  margin-bottom: 6px;
}

.settings-title {
  background-color: #d2d3d5;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
}
.settings-title-tag {
  padding-bottom: 0px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  color: #1f252f;
  /* color: #414141; */
}

.settings-parameters-div {
  display: flex;
}

.display-settings-parameters-div {
  display: flex;
}

ul {
  list-style-type: none;
}

.setting-div {
  height: 70px;
  width: 184px;
  padding-left: 8px;
  padding-top: 30px;
  background-color: #e8e9ea;
  border-bottom: 1px solid #5da0ee;
}

.setting-div li {
  font-family: "Roboto";
  color: #1f252f;
}

.parameter-div {
  padding-left: 32px;
  padding-top: 30px;
  /* background: #fff; */
  background-color: #e8e9ea;
  height: 70px;
  width: 230px;
  border-bottom: 1px solid #5da0ee;
}

.parameter-div li {
  font-family: "Roboto";
  /* color: #707070; */
  color: #1f252f;
}

.display-specialty-title-div {
  display: flex;
  /* background-color: #eaeef2; */
  background-color: #d2d3d5;
}

.display-title-div {
  height: 100px;
  width: 100px;
  margin-left: 32px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.display-tag {
  margin-bottom: 6px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  color: #1f252f;
}

.display-name-tag {
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
  color: #1f252f;
}

/* iPhone X 375px */
@media only screen and (max-width: 375px) {
  .card-wrapper img {
    width: 65px;
  }
  .nav-title {
    margin-left: 37%;
  }
}

/* 360 Pixels */
@media only screen and (max-width: 360px) {
  .nav-title {
    margin-left: 32%;
  }
}

/* 320 Pixels */
@media only screen and (max-width: 500px) {
  .nav-title {
    margin-left: 32%;
  }
  .card-wrapper img {
    width: 65px;
  }
}

/* 411 Pixels */
@media only screen and (max-width: 411px) {
  .nav-title {
    margin-left: 35%;
  }
  .card-wrapper img {
    width: 65px;
  }
}

/* iPhone 6/7 414px*/
@media only screen and (max-width: 414px) {
  .nav-title {
    margin-left: 40%;
  }
  .card-wrapper img {
    width: 65px;
  }
}
