* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #262626;
}

#nav {
  display: flex;
  height: 75px;
  width: 100%;
  border-bottom: 3px solid #ffb600;
}

#nav-title {
  margin-top: 30px;
  margin-left: 38%;
}

#nav-title h3 {
  font-family: Roboto;
  font-size: 24px;
  color: #fff;
}

.title-span {
  color: #ffb600;
}

#menu-icon {
  position: absolute;
  top: 28px;
  right: 30px;
  cursor: pointer;
}

.menu-bar-top {
  width: 35px;
  height: 3px;
  background-color: #ffb600;
  margin-bottom: 6px;
}

.menu-bar-middle,
.menu-bar-bottom {
  width: 35px;
  height: 3px;
  background-color: #ffb600;
  margin-top: 6px;
}

#feature-nav-div {
  height: 75px;
  width: 100%;
  border-bottom: 3px solid #ffb600;
}

#feature-nav-img {
  width: 30px;
}

.nav-feature-img-div {
  margin-top: 30px;
  margin-left: 30px;
}

.nav-feature-text-div {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  color: #ffb600;
  margin-top: 35px;
  margin-left: 100px;
  cursor: pointer;
}

.nav-home-icon-div {
  position: absolute;
  top: 28px;
  right: 30px;
  cursor: pointer;
}

.nav-home-icon-element {
  width: 30px;
}

/* Card style */
#card-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
}

.card-wrapper img {
  width: 30px;
}

.card-wrapper {
  font-family: Roboto;
  font-weight: 100;
  font-size: 13px;
  color: #fff;
  margin-top: 55px;
  text-align: center;
}

.card-wrapper img {
  cursor: pointer;
}

.text-container p {
  padding: 2px 16px;
  margin-top: 6px;
}

/* Feature Page */
.camera-div {
  height: 75px;
  width: 100%;
  border-bottom: 1px solid #ffb600;
  cursor: pointer;
}

.camera-div p {
  font-family: Roboto;
  font-weight: 100;
  font-size: 13px;
  color: #fff;
  margin-top: 55px;
}

/* iPhone X 375px */
@media only screen and (max-width: 375px) {
  .card-wrapper img {
    width: 65px;
  }
  .nav-title {
    margin-left: 37%;
  }
}

/* 360 Pixels */
@media only screen and (max-width: 360px) {
  .nav-title {
    margin-left: 32%;
  }
}

/* 320 Pixels */
@media only screen and (max-width: 320px) {
  .nav-title {
    margin-left: 32%;
  }
  .card-wrapper img {
    width: 65px;
  }
}

/* 411 Pixels */
@media only screen and (max-width: 411px) {
  .nav-title {
    margin-left: 35%;
  }
  .card-wrapper img {
    width: 65px;
  }
}

/* iPhone 6/7 414px*/
@media only screen and (max-width: 414px) {
  .nav-title {
    margin-left: 32%;
  }
  .card-wrapper img {
    width: 65px;
  }
}
